<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
  
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>This is {{ name }} Website</title>


</head>
<body>
<div id="main_menu" class="red">
    <h1>Tony Joy's Homepage</h1>
</div>
<div id="main_content">
    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus elementum sagittis vitae et leo duis. Convallis posuere morbi leo urna molestie at. Nunc faucibus a pellentesque sit. Sed faucibus turpis in eu mi. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Sollicitudin aliquam ultrices sagittis orci. Dolor morbi non arcu risus quis. Lacus viverra vitae congue eu consequat ac felis. Cras pulvinar mattis nunc sed. Porttitor rhoncus dolor purus non enim praesent.
    </p>
    <p>
Nibh praesent tristique magna sit amet. Ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Feugiat sed lectus vestibulum mattis. In vitae turpis massa sed elementum. Sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum. Urna et pharetra pharetra massa massa ultricies mi. Aenean et tortor at risus viverra. Integer malesuada nunc vel risus commodo viverra. Morbi non arcu risus quis varius. Dictum sit amet justo donec enim diam vulputate ut. Ac auctor augue mauris augue neque gravida in. Amet mattis vulputate enim nulla aliquet porttitor lacus. Elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi. Tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium. A iaculis at erat pellentesque. At lectus urna duis convallis convallis tellus id interdum velit. Tellus molestie nunc non blandit. At in tellus integer feugiat scelerisque varius morbi enim.
    </p>
    <p>
Risus viverra adipiscing at in. Id aliquet risus feugiat in ante metus dictum at tempor. Nibh venenatis cras sed felis eget velit aliquet. Id consectetur purus ut faucibus pulvinar. Quis auctor elit sed vulputate mi sit amet. Ullamcorper malesuada proin libero nunc consequat interdum varius sit amet. Lorem ipsum dolor sit amet consectetur. Praesent elementum facilisis leo vel fringilla. Blandit turpis cursus in hac habitasse platea dictumst quisque sagittis. Et netus et malesuada fames ac. Cursus sit amet dictum sit amet justo. Urna id volutpat lacus laoreet non curabitur gravida arcu. At tempor commodo ullamcorper a lacus vestibulum sed arcu. Accumsan sit amet nulla facilisi morbi tempus iaculis urna. Condimentum vitae sapien pellentesque habitant morbi. Sit amet risus nullam eget felis eget. Tristique risus nec feugiat in fermentum posuere. Nullam non nisi est sit. Purus ut faucibus pulvinar elementum integer. Fusce id velit ut tortor pretium viverra.
    </p>
    <p>
Parturient montes nascetur ridiculus mus mauris vitae ultricies leo integer. Ligula ullamcorper malesuada proin libero. Sed viverra tellus in hac. Ipsum faucibus vitae aliquet nec ullamcorper. Dolor sit amet consectetur adipiscing elit pellentesque. Sed euismod nisi porta lorem mollis aliquam ut. In nibh mauris cursus mattis molestie a iaculis. Accumsan lacus vel facilisis volutpat. Laoreet suspendisse interdum consectetur libero. Nulla malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Est velit egestas dui id. Maecenas pharetra convallis posuere morbi. Vitae aliquet nec ullamcorper sit amet risus. Faucibus scelerisque eleifend donec pretium. A erat nam at lectus urna duis convallis convallis tellus. Purus viverra accumsan in nisl nisi scelerisque eu.
    </p>
    <p>
Pharetra sit amet aliquam id diam. Urna et pharetra pharetra massa massa ultricies. Ultrices vitae auctor eu augue ut. Id cursus metus aliquam eleifend mi in. In pellentesque massa placerat duis. Lorem mollis aliquam ut porttitor leo. Ac turpis egestas integer eget. Egestas maecenas pharetra convallis posuere morbi leo urna molestie. Tristique senectus et netus et malesuada fames. Malesuada fames ac turpis egestas. Morbi blandit cursus risus at. Proin nibh nisl condimentum id venenatis a condimentum vitae sapien. Nec ullamcorper sit amet risus nullam eget. Ultrices tincidunt arcu non sodales neque sodales ut etiam. Massa tincidunt dui ut ornare lectus sit amet. At risus viverra adipiscing at in tellus. Gravida cum sociis natoque penatibus et. Dictumst quisque sagittis purus sit amet volutpat.
    </p>
</div>


</body>
</html>
